<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.jangle.demoname.dao.BsMenuMapper">
	<resultMap id="BaseResultMap"
		type="xyz.jangle.demoname.model.BsMenu">
		<id column="id" jdbcType="BIGINT" property="id" />
			<result column="uuid" jdbcType="VARCHAR" property="uuid" />
			<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
			<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
			<result column="status" jdbcType="INTEGER" property="status" />
			<result column="dm_desc" jdbcType="VARCHAR" property="dmDesc" />
			<result column="dm_desc2" jdbcType="VARCHAR" property="dmDesc2" />
			<result column="menu_name" jdbcType="VARCHAR" property="menuName" />
			<result column="menu_parent_id" jdbcType="BIGINT" property="menuParentId" />
			<result column="menu_parent_name" jdbcType="VARCHAR" property="menuParentName" />
			<result column="menu_url" jdbcType="VARCHAR" property="menuUrl" />
	</resultMap>
	<sql id="all_column">
		<![CDATA[
			id,
			uuid,
			create_time,
			update_time,
			status,
			dm_desc,
			dm_desc2,
			menu_name,
			menu_parent_id,
			menu_parent_name,
			menu_url
		]]>
	</sql>
	<sql id="page_where">
		<where>
			<if test="status != null and status != ''">
				AND status = #{status}
			</if>
		</where>
	</sql>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		update bs_menu
		set status = 2
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<delete id="batchDeleteByPrimaryKey" parameterType="xyz.jangle.demoname.model.BsMenu">
		update bs_menu
		set status = 2
		where id in 
		<foreach close=")" collection="idsArray" item="listItem" open="(" separator=",">
                    #{listItem}
        </foreach>
	</delete>
	<delete id="batchDeleteByPrimaryKeyActually" parameterType="xyz.jangle.demoname.model.BsMenu">
		delete from bs_menu
		where status = 2
		and id in
		<foreach close=")" collection="idsArray" item="listItem" open="(" separator=",">
                    #{listItem}
        </foreach>
	</delete>
	<insert id="insert"
		parameterType="xyz.jangle.demoname.model.BsMenu" useGeneratedKeys="true" keyProperty="id">
		insert into bs_menu ( 
			uuid,
			create_time,
			update_time,
			status,
			dm_desc,
			dm_desc2,
			menu_name,
			menu_parent_id,
			menu_parent_name,
			menu_url
		)
		values (
			#{uuid,jdbcType=VARCHAR},
			now(),
			now(),
			#{status,jdbcType=INTEGER},
			#{dmDesc,jdbcType=VARCHAR},
			#{dmDesc2,jdbcType=VARCHAR},
			#{menuName,jdbcType=VARCHAR},
			#{menuParentId,jdbcType=BIGINT},
			#{menuParentName,jdbcType=VARCHAR},
			#{menuUrl,jdbcType=VARCHAR}
		)
	</insert>
	<update id="updateByPrimaryKey"
		parameterType="xyz.jangle.demoname.model.BsMenu">
		<![CDATA[
		update bs_menu
		set 
				update_time = now(),
				status = #{status,jdbcType=INTEGER},
				dm_desc = #{dmDesc,jdbcType=VARCHAR},
				dm_desc2 = #{dmDesc2,jdbcType=VARCHAR},
				menu_name = #{menuName,jdbcType=VARCHAR},
				menu_parent_id = #{menuParentId,jdbcType=BIGINT},
				menu_parent_name = #{menuParentName,jdbcType=VARCHAR},
				menu_url = #{menuUrl,jdbcType=VARCHAR}
		]]>
		<if test="id != null and id gt 0">
		where id = #{id,jdbcType=BIGINT}
		</if>
		<if test="(id == null or id lt 1 ) and uuid != null and uuid != ''">
		where uuid = #{uuid,jdbcType=VARCHAR}
		</if>
		<if test="(id == null or id lt 1 ) and (uuid == null or uuid == '')">
		where id = #{id,jdbcType=BIGINT}
		</if>
	</update>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select 
		<include refid="all_column" />
		from bs_menu
		where id = #{id,jdbcType=BIGINT}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select 
		<include refid="all_column" />
		from bs_menu
	</select>
	<select id="selectByParam" resultMap="BaseResultMap" parameterType="java.util.Map">
		select 
		<include refid="all_column" />
		from bs_menu
		<include refid="page_where" />
	</select>
	<select id="selectPage" resultMap="BaseResultMap"
		parameterType="xyz.jangle.demoname.model.BsMenu">
		select 
		<include refid="all_column" />
		from bs_menu
		<include refid="page_where" />
		order by id DESC
		limit #{pageStart,jdbcType=BIGINT},
		#{pageSize,jdbcType=INTEGER}
	</select>
	<select id="selectPageCount" resultType="java.lang.Long"
		parameterType="xyz.jangle.demoname.model.BsMenu">
		select count(*)
		from bs_menu
		<include refid="page_where" />
	</select>
</mapper>