<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.jangle.demoname.dao.BsUser2Mapper">
	<resultMap id="BaseResultMap"
		type="xyz.jangle.demoname.model.BsUser2">
		<id column="id" jdbcType="BIGINT" property="id" />
			<result column="uuid" jdbcType="VARCHAR" property="uuid" />
			<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
			<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
			<result column="status" jdbcType="INTEGER" property="status" />
			<result column="dm_desc" jdbcType="VARCHAR" property="dmDesc" />
			<result column="dm_desc2" jdbcType="VARCHAR" property="dmDesc2" />
			<result column="jg_name" jdbcType="VARCHAR" property="jgName" />
			<result column="jg_code" jdbcType="VARCHAR" property="jgCode" />
			<result column="jg_password" jdbcType="VARCHAR" property="jgPassword" />
			<result column="jg_apply_ip" jdbcType="VARCHAR" property="jgApplyIp" />
			<result column="jg_apply_reason" jdbcType="VARCHAR" property="jgApplyReason" />
	</resultMap>
	<sql id="all_column">
		<![CDATA[
			id,
			uuid,
			create_time,
			update_time,
			status,
			dm_desc,
			dm_desc2,
			jg_name,
			jg_code,
			jg_password,
			jg_apply_ip,
			jg_apply_reason
		]]>
	</sql>
	<sql id="page_where">
		<where>
			status != 2
			<if test="status != null and status != ''">
				AND status = #{status}
			</if>
		</where>
	</sql>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		update bs_user2
		set status = 2
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<delete id="batchDeleteByPrimaryKey" parameterType="xyz.jangle.demoname.model.BsUser2">
		update bs_user2
		set status = 2
		where id in 
		<foreach close=")" collection="idsArray" item="listItem" open="(" separator=",">
                    #{listItem}
        </foreach>
	</delete>
	<insert id="insert"
		parameterType="xyz.jangle.demoname.model.BsUser2" useGeneratedKeys="true" keyProperty="id">
		insert into bs_user2 ( 
			uuid,
			create_time,
			update_time,
			status,
			dm_desc,
			dm_desc2,
			jg_name,
			jg_code,
			jg_password,
			jg_apply_ip,
			jg_apply_reason
		)
		values (
			#{uuid,jdbcType=VARCHAR},
			now(),
			now(),
			#{status,jdbcType=INTEGER},
			#{dmDesc,jdbcType=VARCHAR},
			#{dmDesc2,jdbcType=VARCHAR},
			#{jgName,jdbcType=VARCHAR},
			#{jgCode,jdbcType=VARCHAR},
			#{jgPassword,jdbcType=VARCHAR},
			#{jgApplyIp,jdbcType=VARCHAR},
			#{jgApplyReason,jdbcType=VARCHAR}
		)
	</insert>
	<update id="updateByPrimaryKey"
		parameterType="xyz.jangle.demoname.model.BsUser2">
		<![CDATA[
		update bs_user2
		set 
				update_time = now(),
				status = #{status,jdbcType=INTEGER},
				dm_desc = #{dmDesc,jdbcType=VARCHAR},
				dm_desc2 = #{dmDesc2,jdbcType=VARCHAR},
				jg_name = #{jgName,jdbcType=VARCHAR},
				jg_code = #{jgCode,jdbcType=VARCHAR},
				jg_password = #{jgPassword,jdbcType=VARCHAR},
				jg_apply_ip = #{jgApplyIp,jdbcType=VARCHAR},
				jg_apply_reason = #{jgApplyReason,jdbcType=VARCHAR}
		]]>
		<if test="id != null and id gt 0">
		where id = #{id,jdbcType=BIGINT}
		</if>
		<if test="(id == null or id lt 1 ) and uuid != null and uuid != ''">
		where uuid = #{uuid,jdbcType=VARCHAR}
		</if>
		<if test="(id == null or id lt 1 ) and (uuid == null or uuid == '')">
		where id = #{id,jdbcType=BIGINT}
		</if>
	</update>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select 
		<include refid="all_column" />
		from bs_user2
		where id = #{id,jdbcType=BIGINT}
	</select>
	<select id="selectByCode" parameterType="xyz.jangle.demoname.model.BsUser2"
		resultMap="BaseResultMap">
		select 
		<include refid="all_column" />
		from bs_user2
		where jg_code = #{jgCode,jdbcType=VARCHAR}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select 
		<include refid="all_column" />
		from bs_user2
	</select>
	<select id="selectByParam" resultMap="BaseResultMap" parameterType="java.util.Map">
		select 
		<include refid="all_column" />
		from bs_user2
		<include refid="page_where" />
	</select>
	<select id="selectPage" resultMap="BaseResultMap"
		parameterType="xyz.jangle.demoname.model.BsUser2">
		select 
		<include refid="all_column" />
		from bs_user2
		<include refid="page_where" />
		order by id DESC
		limit #{pageStart,jdbcType=BIGINT},
		#{pageSize,jdbcType=INTEGER}
	</select>
	<select id="selectPageCount" resultType="java.lang.Long"
		parameterType="xyz.jangle.demoname.model.BsUser2">
		select count(*)
		from bs_user2
		<include refid="page_where" />
	</select>
</mapper>