<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.jangle.demoname.dao.BsVisitCountMapper">
	<resultMap id="BaseResultMap"
		type="xyz.jangle.demoname.model.BsVisitCount">
		<id column="id" jdbcType="BIGINT" property="id" />
			<result column="uuid" jdbcType="VARCHAR" property="uuid" />
			<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
			<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
			<result column="status" jdbcType="INTEGER" property="status" />
			<result column="dm_desc" jdbcType="VARCHAR" property="dmDesc" />
			<result column="dm_desc2" jdbcType="VARCHAR" property="dmDesc2" />
			<result column="visit_count" jdbcType="VARCHAR" property="visitCount" />
	</resultMap>
	<sql id="all_column">
		<![CDATA[
			id,
			uuid,
			create_time,
			update_time,
			status,
			dm_desc,
			dm_desc2,
			visit_count
		]]>
	</sql>
	<sql id="page_where">
		<where>
			<if test="status != null and status != ''">
				AND status = #{status}
			</if>
		</where>
	</sql>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		update bs_visit_count
		set status = 2
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<delete id="batchDeleteByPrimaryKey" parameterType="xyz.jangle.demoname.model.BsVisitCount">
		update bs_visit_count
		set status = 2
		where id in 
		<foreach close=")" collection="idsArray" item="listItem" open="(" separator=",">
                    #{listItem}
        </foreach>
	</delete>
	<delete id="batchDeleteByPrimaryKeyActually" parameterType="xyz.jangle.demoname.model.BsVisitCount">
		delete from bs_visit_count
		where status = 2
		and id in
		<foreach close=")" collection="idsArray" item="listItem" open="(" separator=",">
                    #{listItem}
        </foreach>
	</delete>
	<insert id="insert"
		parameterType="xyz.jangle.demoname.model.BsVisitCount" useGeneratedKeys="true" keyProperty="id">
		insert into bs_visit_count ( 
			uuid,
			create_time,
			update_time,
			status,
			dm_desc,
			dm_desc2,
			visit_count
		)
		values (
			#{uuid,jdbcType=VARCHAR},
			now(),
			now(),
			#{status,jdbcType=INTEGER},
			#{dmDesc,jdbcType=VARCHAR},
			#{dmDesc2,jdbcType=VARCHAR},
			#{visitCount,jdbcType=VARCHAR}
		)
	</insert>
	<update id="updateByPrimaryKey"
		parameterType="xyz.jangle.demoname.model.BsVisitCount">
		<![CDATA[
		update bs_visit_count
		set 
				update_time = now(),
				status = #{status,jdbcType=INTEGER},
				dm_desc = #{dmDesc,jdbcType=VARCHAR},
				dm_desc2 = #{dmDesc2,jdbcType=VARCHAR},
				visit_count = #{visitCount,jdbcType=VARCHAR}
		]]>
		<if test="id != null and id gt 0">
		where id = #{id,jdbcType=BIGINT}
		</if>
		<if test="(id == null or id lt 1 ) and uuid != null and uuid != ''">
		where uuid = #{uuid,jdbcType=VARCHAR}
		</if>
		<if test="(id == null or id lt 1 ) and (uuid == null or uuid == '')">
		where id = #{id,jdbcType=BIGINT}
		</if>
	</update>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select 
		<include refid="all_column" />
		from bs_visit_count
		where id = #{id,jdbcType=BIGINT}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select 
		<include refid="all_column" />
		from bs_visit_count
	</select>
	<select id="selectByParam" resultMap="BaseResultMap" parameterType="java.util.Map">
		select 
		<include refid="all_column" />
		from bs_visit_count
		<include refid="page_where" />
	</select>
	<sql id="pageWhere">
		<if test="dmDesc != null and dmDesc != '' and dmDesc2 != null and dmDesc2 != ''">
			<![CDATA[and create_time > #{dmDesc,jdbcType=VARCHAR} and create_time <= #{dmDesc2,jdbcType=VARCHAR}]]>
		</if>
	</sql>
	<select id="selectPage" resultMap="BaseResultMap"
		parameterType="xyz.jangle.demoname.model.BsVisitCount">
		select 
		null as id,
		null as uuid,
		null as create_time,
		null as update_time,
		1 as status,
		dm_desc,
		dm_desc2,
		count(1) as visit_count 
		from bs_visit 
		where dm_desc2 != '浙江省绍兴市' 
		<include refid="pageWhere" />
		group by dm_desc,dm_desc2 
		order by visit_count desc
		limit #{pageStart,jdbcType=BIGINT},
		#{pageSize,jdbcType=INTEGER}
	</select>
	<select id="selectPageCount" resultType="java.lang.Long"
		parameterType="xyz.jangle.demoname.model.BsVisitCount">
		select count(1) from (
 		select 
		count(1) as visit_count 
		from bs_visit 
		where dm_desc2 != '浙江省绍兴市'
		<include refid="pageWhere" />
		 group by dm_desc,dm_desc2 	) A;
	</select>
</mapper>