<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.jangle.demoname.dao.ZdUserApplyMapper">
	<resultMap id="BaseResultMap"
		type="xyz.jangle.demoname.model.ZdUserApply">
		<id column="id" jdbcType="BIGINT" property="id" />
			<result column="uuid" jdbcType="VARCHAR" property="uuid" />
			<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
			<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
			<result column="status" jdbcType="INTEGER" property="status" />
			<result column="dm_desc" jdbcType="VARCHAR" property="dmDesc" />
			<result column="dm_desc2" jdbcType="VARCHAR" property="dmDesc2" />
			<result column="zd_user_name" jdbcType="VARCHAR" property="zdUserName" />
			<result column="zd_user_code" jdbcType="VARCHAR" property="zdUserCode" />
			<result column="zd_user_password" jdbcType="VARCHAR" property="zdUserPassword" />
			<result column="zd_user_apply_reason" jdbcType="VARCHAR" property="zdUserApplyReason" />
			<result column="zd_user_apply_ip" jdbcType="VARCHAR" property="zdUserApplyIp" />
	</resultMap>
	<sql id="all_column">
		<![CDATA[
			id,
			uuid,
			create_time,
			update_time,
			status,
			dm_desc,
			dm_desc2,
			zd_user_name,
			zd_user_code,
			zd_user_password,
			zd_user_apply_reason,
			zd_user_apply_ip
		]]>
	</sql>
	<sql id="page_where">
		<where>
			status != 2
			<if test="status != null and status != ''">
				AND status = #{status}
			</if>
		</where>
	</sql>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		update zd_user_apply
		set status = 2
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<delete id="batchDeleteByPrimaryKey" parameterType="xyz.jangle.demoname.model.ZdUserApply">
		update zd_user_apply
		set status = 2
		where id in 
		<foreach close=")" collection="idsArray" item="listItem" open="(" separator=",">
                    #{listItem}
        </foreach>
	</delete>
	<insert id="insert"
		parameterType="xyz.jangle.demoname.model.ZdUserApply" useGeneratedKeys="true" keyProperty="id">
		insert into zd_user_apply ( 
			uuid,
			create_time,
			update_time,
			status,
			dm_desc,
			dm_desc2,
			zd_user_name,
			zd_user_code,
			zd_user_password,
			zd_user_apply_reason,
			zd_user_apply_ip
		)
		values (
			#{uuid,jdbcType=VARCHAR},
			now(),
			now(),
			#{status,jdbcType=INTEGER},
			#{dmDesc,jdbcType=VARCHAR},
			#{dmDesc2,jdbcType=VARCHAR},
			#{zdUserName,jdbcType=VARCHAR},
			#{zdUserCode,jdbcType=VARCHAR},
			#{zdUserPassword,jdbcType=VARCHAR},
			#{zdUserApplyReason,jdbcType=VARCHAR},
			#{zdUserApplyIp,jdbcType=VARCHAR}
		)
	</insert>
	<update id="updateByPrimaryKey"
		parameterType="xyz.jangle.demoname.model.ZdUserApply">
		<![CDATA[
		update zd_user_apply
		set 
				update_time = now(),
				status = #{status,jdbcType=INTEGER},
				dm_desc = #{dmDesc,jdbcType=VARCHAR},
				dm_desc2 = #{dmDesc2,jdbcType=VARCHAR},
				zd_user_name = #{zdUserName,jdbcType=VARCHAR},
				zd_user_code = #{zdUserCode,jdbcType=VARCHAR},
				zd_user_password = #{zdUserPassword,jdbcType=VARCHAR},
				zd_user_apply_reason = #{zdUserApplyReason,jdbcType=VARCHAR},
				zd_user_apply_ip = #{zdUserApplyIp,jdbcType=VARCHAR}
		]]>
		<if test="id != null and id gt 0">
		where id = #{id,jdbcType=BIGINT}
		</if>
		<if test="(id == null or id lt 1 ) and uuid != null and uuid != ''">
		where uuid = #{uuid,jdbcType=VARCHAR}
		</if>
		<if test="(id == null or id lt 1 ) and (uuid == null or uuid == '')">
		where id = #{id,jdbcType=BIGINT}
		</if>
	</update>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select 
		<include refid="all_column" />
		from zd_user_apply
		where id = #{id,jdbcType=BIGINT}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select 
		<include refid="all_column" />
		from zd_user_apply
	</select>
	<select id="selectByParam" resultMap="BaseResultMap" parameterType="java.util.Map">
		select 
		<include refid="all_column" />
		from zd_user_apply
		<include refid="page_where" />
	</select>
	<select id="selectPage" resultMap="BaseResultMap"
		parameterType="xyz.jangle.demoname.model.ZdUserApply">
		select 
		<include refid="all_column" />
		from zd_user_apply
		<include refid="page_where" />
		order by id DESC
		limit #{pageStart,jdbcType=BIGINT},
		#{pageSize,jdbcType=INTEGER}
	</select>
	<select id="selectPageCount" resultType="java.lang.Long"
		parameterType="xyz.jangle.demoname.model.ZdUserApply">
		select count(*)
		from zd_user_apply
		<include refid="page_where" />
	</select>
</mapper>