<?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
<!-- 		<setting name="logImpl" value="STDOUT_LOGGING"/> -->
		<setting name="logImpl" value="LOG4J"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/> <!-- 注解查询时，使用驼峰映射 -->
	</settings>

	<!-- 实体类,简称 -设置别名 -->
	<typeAliases>
		<!-- <typeAlias alias="User" type="xyz.jangle.demoname.model.User" /> -->
		<!-- 扫描包下的所有实体类并映射其类名为别名，如此就不需要一一配置别名了 -->
<!-- 		<package name="xyz.jangle.demoname.model" /> --><!-- 由于使用mybatis生成插件，使用了类的全路径，不再需要别名功能 -->
	</typeAliases>
	<!-- 实体接口映射资源 -->
	<!-- 说明：如果xxMapper.xml配置文件放在和xxMapper.java统一目录下，mappers也可以省略，因为org.mybatis.spring.mapper.MapperFactoryBean默认会去查找与xxMapper.java相同目录和名称的xxMapper.xml 
		2、Spring.xml配置文件中配置 sqlSessionFactory的属性mapperLocations 指向映射文件则可省略此配置（该属性支持通配符*）这样可以不用一一配置mapper映射文件 -->
	<!-- <mappers> <mapper resource="xyz/jangle/mapper/DemoMapper.xml" /> </mappers> -->

</configuration>    