<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace：必须与对应的接口全类名一致 id:必须与对应接口的某个对应的方法名一致 -->
<mapper namespace="xyz.jangle.dao.DemoMapper">
	<!-- for test -->
	<insert id="save" parameterType="DemoModel">
		insert into c_tenant(name) values(#{userName})
	</insert>

	<!-- 暂不可用 -->
	<update id="update" parameterType="DemoModel">
		update table_name set name=#{userName},age=#{userAge} where id=#{id}
	</update>

	<!-- 暂不可用 -->
	<delete id="delete" parameterType="int">
		delete from table_name where id=#{id}
	</delete>

	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路径 -->
	<select id="findById" parameterType="int" resultType="DemoModel">
		select id userId,name userName from c_tenant where id=#{id}
	</select>

	<select id="getAll" resultType="DemoModel">
		select id userId,name userName from c_tenant
	</select>

</mapper>